html
  background: #00ad84;
header
  background: #00ad84;
  border-bottom: 10px solid #0a6d4d;
  h1
    font-weight: 100;
    color: #fff;
    font-size 36px
    font-family: 'uv', sans-serif;
  img
    padding-top 15px

footer
  background: #00ad84;
  border-top: 10px solid #0a6d4d;
  .center
    text-align center
    img
      vertical-align center
      margin-top 15px
      margin-bottom 15px
    li
      color #fff
    ul
      list-style none



.toast-top-right
  top 130px

.toast-success
  background-color #00ad84