html {
  background: #00ad84;
}
header {
  background: #00ad84;
  border-bottom: 10px solid #0a6d4d;
}
header h1 {
  font-weight: 100;
  color: #fff;
  font-size: 36px;
  font-family: 'uv', sans-serif;
}
header img {
  padding-top: 15px;
}
footer {
  background: #00ad84;
  border-top: 10px solid #0a6d4d;
}
footer .center {
  text-align: center;
}
footer .center img {
  vertical-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .center li {
  color: #fff;
}
footer .center ul {
  list-style: none;
}
.navbar-form .form-group {
  margin-top: 10px;
  margin-left: 10px;
}
.navbar-form button {
  margin-top: 10px;
  margin-left: 10px;
}
.navbar-form .form-group:first-child {
  margin-top: 15px;
}
.toast-top-right {
  top: 130px;
}
.toast-success {
  background-color: #00ad84;
}
