doctype
html
    head
        title Clínica de Reproducción Humana - Universidad de Valparaíso
        base(href="/")
        link(href="/favicion.ico", rel="shortcut icon", type="image/icon")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    body(ng-app="app")
        block main-content
        footer.midnight-blue
            .container
                .row.center
                    .col-sm-12
                        img(src="/img/logoblanco.png")
                        ul
                            li Clínica de Reproducción Humana
                            li Hontaneda 2664, Valparaíso. Chile
                            li Fonot: +56 (32) 250 7313

        include scripts
