doctype
head
    title Clínica de Reproducción Humana - Universidad de Valparaíso
    base(href="/")
    link(href="/favicion.ico", rel="shortcut icon", type="image/icon")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
html
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts

